.navbar {
    display: flex;
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 0 auto;
    

}

.nav-link {
    font-size: 1.50rem;
    font-weight: 800px;
    margin:  1.5rem auto;
    text-decoration: none;
    text-decoration-color: none;
    justify-content: space-between;
}