.navbar {
    display: flex;
    height: 2rem;
    width: 45%;
    margin: auto;
    padding: auto;
    /* justify-content: space-between; */

}

.nav-link {
    font-size: 1.25rem;
    font-weight: bold 600;
    margin:  auto;
    text-decoration: none;
    /* padding: 1rem; */
}