* {
  border: 2px solid black;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;900&display=swap');

.App {
  display: flex;
  flex-direction: column;
  font-family: 'Inconsolata', monospace;
  justify-content: center;
  align-items: center;
  width: 97vw;
  height: auto;
  margin: 1rem 1rem 1rem 1rem;

  /* overflow: hidden; */
}

.page-title {
  font-family: 'Inconsolata', monospace;
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 1rem 1rem 1rem 1rem;
  font-size: 2.5vw;
  font-weight: 500;
}